<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654290175388-s9v96e2nvrem82innk8d96m1ehj1ntsu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654290175388-s9v96e2nvrem82innk8d96m1ehj1ntsu</string>
	<key>API_KEY</key>
	<string>AIzaSyBZuENrWmFaak8G5naMFw8p0qmKvOihvJk</string>
	<key>GCM_SENDER_ID</key>
	<string>654290175388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capibara.test.test-gtm-swift</string>
	<key>PROJECT_ID</key>
	<string>test-gtmv5-swift5</string>
	<key>STORAGE_BUCKET</key>
	<string>test-gtmv5-swift5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654290175388:ios:1c47f7f1f413b85de9f459</string>
	<key>DATABASE_URL</key>
	<string>https://test-gtmv5-swift5.firebaseio.com</string>
</dict>
</plist>